/* src/Components/AnimePage.css */
.fixed-image {
    width: 100%;
    height: 500px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Mantém a proporção da imagem enquanto cobre totalmente a área definida */
}

  